 <h1>Carrito de Compras</h1>

  {{#if carrito.productos.length}}
    <ul>
      {{#each carrito.productos}}
        <li>
          <h2>{{this.producto.title}}</h2>
          <p>Cantidad: {{this.cantidad}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay productos en el carrito.</p>
  {{/if}}

  <a href="/agregar-producto" class="button">Agregar Producto</a>
  <a href="/vaciar-carrito" class="button">Vaciar Carrito</a>

  <script src="./socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>