<head>
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    
     <p>Usuario: {{user}}</p>
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
        {{#each cart.productos}}
            <tr>
                <td>{{this.producto.title}}</td>
                <td>{{this.quantity}}</td>
            </tr>
        {{/each}}
    </table>
</body>

<a href="#" class="button" onclick="addProductToCart(cid, _id)">Agregar Producto</a>

<a href="/vaciar-carrito" class="button">Vaciar Carrito</a>
<a href="/menu" class="button">Volver al Menú</a>

<script src="./socket.io/socket.io.js"></script>
<script src="/css/cart.css"></script>
<script src="/js/index.js"></script>
