
<div class="container">
    <h1>Chat</h1>
    <div class="chat" id="messageLogs"></div>
    <input class="chatbox" type="text" id="chatBox" placeholder="Escribe un mensaje..." />
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="/js/index.js"></script>