<h2 style="color: green; text-align: center;">
  {{#if user}}
  <p>BIENVENIDO: {{user.first_name}} {{user.last_name}}</p>
{{else}}
  <p>Usuario no encontrado</p>
{{/if}}
  
</h2>
<div class="containermenu" >




   <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 120vh; background-color: black;"> 
     <h2 style="color: green; text-align: center;"><a href="/home" style="color: green; ">*BIENVENIDOS AL PONY PISADOR (Productos)</a></h2>
     <h2 style="color: green; text-align: center;"><a href="/realTimeProducts" style="color: green; ">*Admin-product(carga productos)</a></h2> 
      <h2 style="color: green; text-align: center;"><a href="/carrito" style="color: green; ">*CARRITO</a></h2> 
      <h2 style="color: green; text-align: center;"><a href="/chat" style="color: green; ">*CHAT</a></h2> 
              
    <form id="logoutForm">
    <button type="submit">Cerrar sesión</button>
  </form>
   </div>

  <script src="./socket.io/socket.io.js"></script> 
  <script src="/js/index.js"></script>

  <script src="/js/logout.js"></script>


  

  
</div>