
<div class="containermenu" >

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 120vh; background-color: black;"> 
       <img class="imgpony" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Ense%C3%B1a_de_El_P%C3%B3ney_Pisador.svg/800px-Ense%C3%B1a_de_El_P%C3%B3ney_Pisador.svg.png" alt="El Póney Pisador">
     <h1 style="color: green; text-align: center;"><a href="/home.handlebars" style="color: green; ">*BIENVENIDOS AL PONY PISADOR (Productos)</a></h1>+
     <h1 style="color: green; text-align: center;"><a href="/realTimeProducts" style="color: green; ">*Admin-product(carga productos)</a></h1> +
      <h1 style="color: green; text-align: center;"><a href="/carritohandlebars" style="color: green; ">*CARRITO</a></h1> +
      <h1 style="color: green; text-align: center;"><a href="/chat" style="color: green; ">*CHAT</a></h1> +
   </div>

  <script src="./socket.io/socket.io.js"></script> 
  <script src="/js/index.js"></script>

  
</div>