
<div class="container" >

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 98vh; background-color: black;"> +
     <h1 style="color: green; text-align: center;"><a href="/home.handlebars" style="color: green; ">BIENVENIDOS AL PONY PISADOR (Productos)</a></h1>+
     <h1 style="color: green; text-align: center;"><a href="/realTimeProducts.handlebars" style="color: green; ">CARRITO DEL PONY PISADOR</a></h1> +
   </div>

  <script src="./socket.io/socket.io.js"></script> 
  <script src="/js/index.js"></script>

  
</div>