body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    
  }
.h1car{
  color:green;
}
  .imgpony{
    width: 30%;
    height: 60%;
    
  }
  
  .containermenu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
  }
  
  .containerhome {
    background-color: black;
    color: green;
    padding: 20px;
  }

  .card {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .not-admin {
    color: red;
  }



  .containerreal {
  
    background-color: black;
    color: green;
  }
  
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    font-size: 16px;
  }
  
  form {
    margin-bottom: 20px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid green;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .admin-product {
    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    height: 50%;
    width: 30%;
    margin-left: 35%;
  }
  
  .delete-btn {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .not-admin {
    color: red;
  }


  .table {
    border-collapse: collapse;
  }

  .th, .td {
    border: 1px solid black;
    padding: 8px;
  }

  .th {
    background-color: #f2f2f2;
  }
 /* public/css/styles.css */
body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

p {
  margin: 0;
}

/* Otros estilos según tus preferencias */